# ----------------------
# General
# ----------------------
.DS_Store
*.log
.env
.vscode/
.idea/
venv/
.python-version

# ----------------------
# Python (backend/)
# ----------------------
backend/__pycache__/
backend/*.py[cod]
backend/.env

# ----------------------
# Node.js (frontend/)
# ----------------------
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/
